@import url('asserts/fonts/fonts.css');

* {
	margin: 0;
	padding: 0;
	font-family: "Lato", "Tahoma", sans-serif;
	font-size: 12px;
}

.wrapper {
	max-width: 1020px;
	margin: 0 auto;
}

.portfolio {
	box-sizing: border-box;
	height: 870px;
	padding: 60px 40px 50px;
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
}

.section-headline {
	font-size: 30px;
	font-weight: 900;
	color: #666d89;
}

.section-description {
	padding-top: 18px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
  color: #767e9e;
  text-align: justify;
}

.tags {
	list-style: none;
  padding: 11px 1px 19px;
}

.tags__item {
  display: inline-block;
  margin-right: 8px;
	padding: 2px 6px 3px 6px;
	font-weight: 400;
	color: #767e9e;
	border: 1px solid #767e9e;
	border-radius: 5px;
}

.tags__item:not(.tags__item_active):hover {
  color: #f06c64;
  border-color: #f06c64;
  cursor: pointer;
}

.tags__item_active {
	color: #dedede;
	border-color: #c5c5c5;
}

.layout-4-col {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
  align-content: space-between;
  width: 940px;
  height: 601px;
  list-style: none;
}

.portfolio__pic {
	width: 220px;
	height: 187px;
}

.portfolio__pic:nth-child(n+13) {
  display: none;
}

.about-us {
	box-sizing: border-box;
	height: 734px;
	padding: 59px 40px 50px;
	background-color: #f2f2f2;
	border-bottom: 6px solid #ffffff;
}

.about-us__description {
	padding-bottom: 45px;
}

.layout-3-col {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.about-us__item {
	display: flex;
	flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-between;
  width: 300px;
  height: 443px;
  list-style: none;
}

.about-us__item:nth-child(1) .person {
  margin-left: -1px;
}

.item-headline {
  margin: 8px 0 0 -1px;
  font-size: 18px;
	font-weight: 900;
  color: #666d89;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-description {
	line-height: 22px;
	font-weight: 400;
	color: #767e9e;
  word-wrap: break-word;
  text-align: justify;
}

.social-medias {
	display: flex;
  justify-content: space-between;
  padding-top: 15px;
	width: 152px;
}

.about-us__item:nth-child(1) .social-medias {
  padding-left: 1px;
}

.icon {
	border-radius: 50%;
}

.icon_small {
  width: 30px;
	height: 30px;
  border: 1px solid #666d89;
  cursor: pointer;
}

.icon_small:hover {
  border-color: #f06c64;
}

.social-medias .icon:nth-child(1) {
	background: url(asserts/img/facebook.svg) center no-repeat;
}

.social-medias .icon:nth-child(1):hover {
	background: url(asserts/img/facebook_hover.svg) center no-repeat;
}

.social-medias .icon:nth-child(2) {
	background: url(asserts/img/google.svg) center no-repeat;
}

.social-medias .icon:nth-child(2):hover {
	background: url(asserts/img/google_hover.svg) center no-repeat;
}

.social-medias .icon:nth-child(3) {
	background: url(asserts/img/twitter.svg) center no-repeat;
}

.social-medias .icon:nth-child(3):hover {
	background: url(asserts/img/twitter_hover.svg) center no-repeat;
}

.social-medias .icon:nth-child(4) {
	background: url(asserts/img/linkedin.svg) center no-repeat;
}

.social-medias .icon:nth-child(4):hover {
	background: url(asserts/img/linkedin_hover.svg) center no-repeat;
}
