@import url('asserts/fonts/fonts.css');

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  padding-top: 95px;
}

* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Lato", "Tahoma", sans-serif;
	font-size: 1.2rem;
}

section {
  scroll-margin-top: 94px;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #2d303a;
	border-bottom: 6px solid #323746;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
}

.hamburger-btn {
  display: none;
}

.logo {
	height: 31.5789%;
	font-weight: 700;
	text-transform: uppercase;
}

.logo__text,
.logo__star {
  font-size: 2.5rem;
  color: #ffffff;
  letter-spacing: -0.05rem;
  transition: all 1s;
  font-weight: 700;
}

.logo__text:hover {
	color: #f06c64;
}

.logo__star {
	color: #f06c64;
}

.navigation {
	display: flex;
	justify-content: space-between;
	width: 372px;                      /*????*/
	padding-top: 13px;
}

.navigation__item {
	position: relative;
}

.navigation__item:not(:first-child)::before {
	content: "\00B7";
  position: absolute;
  top: 1px;
	left: -16px;
	color: #494e62;
}

.navigation__link {
	font-size: 1.2rem;
	font-weight: 700;
	color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

.navigation__item:not(.navigation__item_current) a:hover {
	padding-bottom: 2px;
	border-bottom: 1px solid #f06c64;
}

.navigation__item_current  a {
	color: #f06c64;
	cursor: default;
}

/* MAIN */

.hidden-h1 {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}

/* SLIDER */

.slider {
  border-bottom: 6px solid;
  transition: all 1s;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 40px;
}

.slider__button {
	position: relative;
	width: 16px;
	height: 27px;
	border: none;
	cursor: pointer;
}

.slider__button:focus {
  outline: none;
}

.slider__button:hover::before,
.slider__button:hover::after {
	content: '';
	position: absolute;
	top: 0%;
	right: 75%;
	width: 16px;
	height: 27px;
}

.slider__button:hover::after {
	left: 75%;
}

.slider__button_next {
	transform: rotate(180deg);
}

.arrow-red,
.arrow-red:hover::before,
.arrow-red:hover::after {
  background: url(asserts/img/chev-red.svg) center no-repeat;
}

.arrow-blue,
.arrow-blue:hover::before,
.arrow-blue:hover::after {
  background: url(asserts/img/chev-blue.svg) center no-repeat;
}

.slider__frame {
  display: flex;
  width: 85%;
  padding: 54px 0;
  overflow: hidden;
}

.slide {
  display: flex;
  width: 100%;
  transition: all 1s;
}

.slide_prev {
  margin-left: -100%;
}

.slide_current {
  margin: 0;
}

.slide_next {
  margin-right: -100%;
}

.slide1 {
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 19%;
}

.slide2 {
  justify-content: center;
  align-items: center;
}

.slide__item {
  position: relative;
}

.slide1__item {
  width: 33%;
}

.slide__item .mobile-phone {
  display: block;
  width: 100%;
}

.slide__item .mobile-screen-on {
  position: absolute;
  top: 14.2%;
	left: 6%;
	width: 87.4419%;
  height: 72.707423508%;
  background: url(asserts/img/phone-vertical-display.png) center no-repeat;
  background-size: cover;
  transition: all 1s;
}

.slide1__item_turned .mobile-screen-on {
	top: 29.3%;
	left: -28%;
	width: 154%;
	height: 41.2%;
  background: url(asserts/img/phone-horizontal-display.png) center no-repeat;
  background-size: cover;
}

.slide2__item_small .mobile-screen-on {
  background: url(asserts/img/phone-vertical-display.png) center no-repeat;
  background-size: cover;
}

.slide2__item_big .mobile-screen-on {
  background: url(asserts/img/layer8.png) center no-repeat;
  background-size: cover;
}

.slide1__item .mobile-phone {
	border-radius: 26px;
	box-shadow:	25px 25px #cd5d56, 20px 20px #cd5d56, 15px 15px #cd5d56, 10px 10px #cd5d56, 5px 5px #cd5d56;
}

.slide1__item_turned .mobile-phone {
	transform: rotate(90deg);
	box-shadow: 25px -26px #ce5d56, 20px -21px #ce5d56, 15px -16px #ce5d56, 10px -11px #ce5d56, 5px -6px #ce5d56;
}

.slide2__item_small {
  width: 17.647%;
  border-radius: 16px;
  box-shadow:	16px 16px #5677cd, 12px 12px #5677cd, 8px 8px #5677cd, 4px 4px #5677cd, 2px 2px #5677cd;
  opacity: 0.5;
}

.slide2__item_big {
  width: 28.66%;
  border-radius: 27px;
  box-shadow:	25px 25px #5677cd60, 25px 25px #5677cd50, 20px 20px #5677cd30, 15px 15px #5677cd10, 10px 10px #5677cd10;
  z-index: 2;
}

.mobile-phone, .mobile-screen-on {
  cursor: pointer;
  user-select: none;
}

.hidden {
  opacity: 0;
}

.no-pointed {
  cursor: default;
}

/* SERVICES */

.services {
	background-color: #f2f2f2;
	border-bottom: 6px solid #ffffff;
}

.services-wrapper {
  padding-top: 60px;
  padding-bottom: 31px;
}

.section-headline {
	font-size: 3.0rem;
  font-weight: 900;
  color: #666d89;
  letter-spacing: -0.2px;
}

.section-description {
	padding-top: 18px;
	font-size: 1.8rem;
	line-height: 3.0rem;
  font-weight: 300;
  color: #767e9e;
  text-align: justify;
}

.layout-3-col {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
  align-content: space-between;
}

.servises__items {
  margin-top: 43px;
}

.services__item {
  display: flex;
	justify-content: space-between;
  width: calc((100% - 4rem) / 3);
  overflow: hidden;
}

.icon {
	border-radius: 50%;
}

.icon_big {
  margin-top: 4px;
  min-width: 59px;
	height: 59px;
	border: 2px solid #666d89;
}

.services__item:nth-child(1) .icon {
	background: url(asserts/img/pen.svg) center no-repeat;
}

.services__item:nth-child(2) .icon {
	background: url(asserts/img/bulb.svg) center no-repeat;
}

.services__item:nth-child(3) .icon {
	background: url(asserts/img/heart.svg) center no-repeat;
}

.services__item:nth-child(4) .icon {
	background: url(asserts/img/phone.svg) center no-repeat;
}

.services__item:nth-child(5) .icon {
	background: url(asserts/img/bubble.svg) center no-repeat;
}

.services__item:nth-child(6) .icon {
	background: url(asserts/img/star.svg) center no-repeat;
}

.services .item-description {
  width: calc((100% - 2rem - 5.9rem));
  margin-bottom: 27px;
}

.item-description__headline {
	font-size: 1.8rem;
  font-weight: 900;
  color: #666d89;
  letter-spacing: -0.1px;
}

.item-description__text {
  padding-top: 8px;
	line-height: 2.2rem;
  font-weight: 400;
  color: #767e9e;
	word-wrap: break-word;
  text-align: justify;
  letter-spacing: -0.04px;
}

.services .item-description__text{
  overflow: hidden;
  display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* PORTFOLIO */

.portfolio {
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
}

.portfolio-wrapper {
  padding-top: 59px;
  padding-bottom: 47px;
}

.tags {
  padding: 11px 1px 19px;
}

.tags__item {
  display: inline-block;
  margin-right: 8px;
	padding: 2px 6px 3px 6px;
	font-weight: 400;
	color: #767e9e;
	border: 1px solid #767e9e;
	border-radius: 5px;
  user-select: none;
}

.tags__item:not(.tags__item_active):hover {
  color: #f06c64;
  border-color: #f06c64;
  cursor: pointer;
}

.tags__item_active {
	color: #dedede;
	border-color: #c5c5c5;
}

.layout-4-col {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
  align-content: flex-start;
}

.portfolio__pic {
  width: calc((100% - 6rem) / 4);
  margin-bottom: 20px;
  cursor: pointer;
}

.portfolio__pic img {
  display: block;
  width: 100%;
}

.portfolio__pic:nth-child(n+13) {
  display: none;
}

/* ABOUT US */

.about-us {
	background-color: #f2f2f2;
	border-bottom: 6px solid #ffffff;
}

.about-us-wrapper {
  padding-top: 60px;
  padding-bottom: 68px;
}

.about-us__items {
  margin-top: 44px;
}

.about-us__item {
	display: flex;
	flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-between;
  width: calc(96% / 3);
}

.person {
  display: block;
  width: 100%;
}

.about-us .item-description {
  margin-top: 14px;
  margin-bottom: 22px;
  width: 100%;
}

.about-us .item-description__headline{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.social-medias {
	display: flex;
  justify-content: flex-start;
  width: 100%;
}

.icon {
	border-radius: 50%;
}

.icon_small {
  margin-right: 8px;
  width: 32px;
	height: 32px;
  border: 1px solid #666d89;
  cursor: pointer;
}

.icon_small:hover {
  border-color: #f06c64;
}

.social-medias .icon:nth-child(1) {
	background: url(asserts/img/facebook.svg) center no-repeat;
}

.social-medias .icon:nth-child(1):hover {
	background: url(asserts/img/facebook_hover.svg) center no-repeat;
}

.social-medias .icon:nth-child(2) {
	background: url(asserts/img/google.svg) center no-repeat;
}

.social-medias .icon:nth-child(2):hover {
	background: url(asserts/img/google_hover.svg) center no-repeat;
}

.social-medias .icon:nth-child(3) {
	background: url(asserts/img/twitter.svg) center no-repeat;
}

.social-medias .icon:nth-child(3):hover {
	background: url(asserts/img/twitter_hover.svg) center no-repeat;
}

.social-medias .icon:nth-child(4) {
	background: url(asserts/img/linkedin.svg) center no-repeat;
}

.social-medias .icon:nth-child(4):hover {
	background: url(asserts/img/linkedin_hover.svg) center no-repeat;
}

/* CONTACT US */

.contact-us {
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}

.contact-us-wrapper {
  padding-top: 59px;
}

.contact-us * {
  color: #f0d8d9;
}

.layout-2-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 44px;
}

.contact-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	width: calc((100% - 2rem) / 920 * 620);
}

.contact-form > * {
  margin-bottom: 17px;
  padding: 0px 15px 1px;
	width: 100%;
	height: 37px;
	line-height: 2.2rem;
	font-weight: 400;
	color: #f48c8f;
	background-color: #d6564f;
	border: none;
	border-radius: 5px;
}

.contact-form > *::-ms-input-placeholder {
	color: #f48c8f;
}

.contact-form > *::placeholder {
	color: #f48c8f;
}

.contact-form > *:focus {
	border: 2px solid #f0d8d9;
	outline: none;
}

.contact-form__area {
  margin-bottom: 13px;
  padding-top: 7px;
	height: 202px;
	resize: none;
}

.contact-form__button,
.modal-window__button {
  width: 150px;
  min-height: 45px;
  font-size: 1.8rem;
  font-weight: 300;
  color: #f48c8f;
	background-color: #f0d8d9;
  border: 1px solid #d6564f;
  border-radius: 5px;
	cursor: pointer;
	transition: all 1s;
}

.contact-form__button:hover,
.modal-window__button:hover {
	background-color: #ffffff;
}

.contacts {
  width: calc((100% - 2rem) / 920 * 300);
}

.contacts__headline {
  line-height: 1.8rem;
}

.contacts__text {
  padding-top: 10px;
}

.contact-us .item-description {
  margin-bottom: 20px;
}

.contacts__info li {
	position: relative;
	padding-left: 23px;
	line-height: 2.2rem;
}

.contacts__info li::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0px;
	width: 13px;
	height: 11px;
	background: url(asserts/img/location.svg) center no-repeat;
}

.contacts__info li:nth-child(2)::before {
  background: url(asserts/img/handset.svg) center no-repeat;
}

.contacts__info li:nth-child(3)::before {
  background: url(asserts/img/mail.svg) center no-repeat;
}

/* FOOTER */

.footer {
  color: #666d89;
	background-color: #2d303a;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 76px;
}

.copyright {
  line-height: 3.2rem;
  letter-spacing: -0.2px;
}

.footer .social-medias {
	display: flex;
  justify-content: flex-end;
  width: 50%;
}

.footer .icon_small {
  margin-right: 0;
  margin-left: 8px;
}

/* MODAL WINDOW */

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(197,197,197,0.7);
  z-index: 10;
}

.modal-window {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  padding: 20px;
  min-width: 30%;
  max-width: 60%;
  min-height: 30%;
  max-height: 90%;
  font-size: 2rem;
  background-color: #f2f2f2;
  border: 2px solid #d6564f;
  border-radius: 10px;
}

.modal-window__header {
  font-size: 3rem;
  font-weight: 900;
  color: #666d89;
}

.modal-window__subject,
.modal-window__comments {
  align-self: flex-start;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  min-height: 40px;
  font-size: 1.8rem;
  line-height: 3.0rem;
  font-weight: 300;
  color: #767e9e;
  border: 1px dashed #d6564f;
  white-space: pre-wrap;
  overflow: auto;
}

/* TABLET */

@media (max-width: 1019px) {
  .slider-wrapper {
    padding: 0 3.65%;
  }

  .slider__frame {
    padding: 5.3vw 0;
  }

  .slider__button {
    height: 50vw;
  }

  .slider__button:hover::before,
  .slider__button:hover::after {
    display: none;
  }

  .slide1__item .mobile-phone {
    border-radius: 2.6vw;
    box-shadow:	2.5vw 2.5vw #cd5d56, 2vw 2vw #cd5d56, 1.5vw 1.5vw #cd5d56, 1vw 1vw #cd5d56, 0.5vw 0.5vw #cd5d56;
  }

  .slide1__item_turned .mobile-phone {
    box-shadow: 2.5vw -2.6vw #ce5d56, 2vw -2.1vw #ce5d56, 1.5vw -1.6vw #ce5d56, 1vw -1.1vw #ce5d56, 0.5vw -0.6vw #ce5d56;
  }

  .slide2__item_small {
    border-radius: 1.6vw;
    box-shadow:	1.6vw 1.6vw #5677cd, 1.2vw 1.2vw #5677cd, 0.8vw 0.8vw #5677cd, 0.4vw 0.4vw #5677cd, 0.2vw 0.2vw #5677cd;
  }

  .slide2__item_big {
    border-radius: 2.7vw;
    box-shadow:	2.5vw 2.5vw #5677cd60, 2.5vw 2.5vw #5677cd50, 2vw 2vw #5677cd30, 1.5vw 1.5vw #5677cd10, 1vw 1vw #5677cd10;
  }

  .services-wrapper {
    padding: 39px 40px 16px;
  }

  .servises__items {
    margin-top: 33px;
  }

  .services__item {
    width: calc((100% - 5.3rem - 2.2rem) / 2);
  }

  .tags {
    padding: 19px 1px 28px;
  }

  .portfolio__pic {
    width: calc((100% - 4rem) / 3);
  }

  .about-us-wrapper {
    padding: 52px 40px 75px;
  }

  .about-us .item-description__text {
    padding-top: 3px;
  }

  .contact-us-wrapper {
    padding-top: 53px;
  }

  .layout-2-col {
    padding-top: 20px;
  }

  .contact-form {
    width: 64.15%;
  }

  .contact-form > * {
    margin-bottom: 13px;
  }

  .contact-form__area {
    height: 168px;
  }

  .contact-form__button {
    margin-bottom: 39px;
  }

  .contacts {
    width: 32.08%;
  }

  .modal-window {
    max-width: 80%;
  }
}

/* for tablet only, when mobile === desktop */

@media (max-width: 1019px) and (min-width: 768px) {
  .services__item {
    margin-right: 22px;
  }

  .services .item-description {
    margin-bottom: 53px;
  }

  .about-us .item-description {
    margin: 12px 0;
  }

  .contact-form__area {
    margin-bottom: 17px;
  }

  .contacts__text {
    padding-top: 7px;
  }

  .contact-us .item-description {
    margin-bottom: 15px;
  }
}


/* MOBILE */

@media (max-width: 767px) {
  body {
    padding-top: 71px;
  }

  section {
    scroll-margin-top: 70px;
  }

  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header,
  .services,
  .portfolio,
  .about-us,
  .contact-us,
  .footer {
    border-bottom: none;
  }

  .about-us__item,
  .services__item,
  .contact-form,
  .contact-form__button,
  .contacts {
    width: 100%;
  }

  .header-wrapper {
    justify-content: start;
    padding: 0 20px;
    height: 71px;
  }

  .hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    transition: all 1s;
  }

  .hamburger-btn_turned {
    transform: rotate(90deg);
  }

  .hamburger-btn__line,
  .hamburger-btn:after,
  .hamburger-btn:before {
    content: "";
    background-color: #ffffff;
    border-radius: 5px;
    height: 2px;
  }

  .logo {
    margin-left: calc((100% - 2.5rem - 9.2rem) * 0.472477);
    transition: all 1s;
  }

  .logo__text,
  .logo__star {
    font-size: 2rem;
  }

  .logo_sticked {
    margin-left: 8.5%;
  }

  .header__navigation {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 71px;
    left: -100%;
    bottom: 0;
    width: 74vw;
    background-color: #2d303a;
    z-index: 4;
    transition: all 1s;
  }

  .header__navigation_active {
    left: 0;
    box-shadow: 26vw 0 rgba(0, 0, 0, 0.5);
  }

  .navigation {
    margin-top: 20vh;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 74%;
    height: 32vh;
  }

  .navigation__item::before {
    display: none;
  }

  .navigation__link {
    font-size: 24px;
    line-height: 29px;
  }

  .slider-wrapper {
    padding: 0 2.6%;
  }

  .services-wrapper {
    padding: 25px 32px 0px;
  }

  .servises__items {
    margin-top: 25px;
    padding-right: 11px;
  }

  .portfolio-wrapper {
    padding: 42px 30px 29px;
  }

  .tags {
    padding: 22px 1px 25px;
  }

  .portfolio__pic {
    width: calc((100% - 1.3rem) / 2);
    margin-bottom: 13px;
  }

  .portfolio__pic:nth-child(n+9) {
    display: none;
  }

  .about-us-wrapper {
    padding: 35px 30px 10px;
  }

  .about-us__items {
    margin-top: 30px;
  }

  .about-us__item {
    margin-bottom: 35px;
  }

  .about-us__item > div {
    width: 100%;
  }

  .about-us .item-description {
    margin-bottom: 15px;
  }

  .about-us .item-description__text {
    padding-top: 2px;
  }

  .contact-us-wrapper {
    padding: 44px 30px 40px;
  }

  .layout-2-col {
    padding-top: 30px;
  }

  .contact-form__button {
    margin-bottom: 30px;
  }

  .footer-wrapper {
    justify-content: center;
  }

  .copyright {
    display: none;
  }

  .footer .social-medias {
    justify-content: center;
    width: 100%;
  }

  .footer .icon_small {
    margin: 0 8px;
  }

  .modal-window {
    max-width: 90%;
  }
}
